<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mobile Store</title>
   

</head>
<body>
        <h1>Mobile Store</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>

    <a th:href="@{/mobile}" class="btn btn-primary">Show All Mobile</a>
    <a th:href="@{/categories}" class="btn btn-primary">Show All Categories</a>
    <a th:href="@{/add_mobile}" class="btn btn-primary">Add Mobile</a>


            <form action="#" th:action="@{/mobile}" th:object="${mobile}" method="post">
                        <label for="mobileModel" class="col-form-label">Model</label>
                        <input type="text" th:field="*{mobileModel}" class="form-control" id="mobileModel" placeholder="Name">
                        <span th:if="${#fields.hasErrors('mobileModel')}" th:errors="*{mobileModel}" class="text-danger"></span>
                        <label for="mobileBrand" class="col-form-label">Brand</label>
                        <input type="text" th:field="*{mobileBrand}" class="form-control" id="mobileBrand" placeholder="Brand">
                        <span th:if="${#fields.hasErrors('mobileBrand')}" th:errors="*{mobileBrand}" class="text-danger"></span>
                        <label for="mobilePrice" class="col-form-label">Price</label>
                        <input type="text" th:field="*{mobilePrice}" class="form-control" id="mobilePrice" placeholder="Price">
                        <span th:if="${#fields.hasErrors('mobilePrice')}" th:errors="*{mobilePrice}" class="text-danger"></span>
                  
                    <label for="categories">Mobile categories (multiple select):</label>
			<br />
			<select id="categories" th:field="*{categories}" size="10" multiple="multiple">
				<option th:each="categoryselect,stat : ${allcategories}"
						th:value="${categoryselect.categoryId}"
						th:text="${categoryselect.categoryType}">
					Type
				</option>
			</select>
			<br />
                        <input type="submit" class="btn btn-primary" value="Add Mobile">
                 </form>
            <form action="#" th:action="@{/category}" th:object="${category}" method="post">
                        <label for="categoryType" class="col-form-label">Category Type</label>
                        <input type="text" th:field="*{categoryType}" class="form-control" id="categoryType" placeholder="Type">
                        <span th:if="${#fields.hasErrors('categoryType')}" th:errors="*{categoryType}" class="text-danger"></span>
                        <input type="submit" class="btn btn-primary" value="Add Category">
                   </form>
            <ol>
<!--                <li th:each="category : ${categories}" th:text="${task}"></li>-->
                <tr th:each="categoryItem: ${allcategories}">
                    <td th:text="${categoryItem.categoryType}" />
              		<td th:each="mobileItem: ${categoryItem?.mobiles}">
                     <td th:text="${mobileItem?.mobileModel}" />
                     <td th:text="${mobileItem?.mobileBrand}" />
                </tr>
            </ol>
       
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>